<%= form_for @post, :html => {:multipart => true} do |f| %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>

  <% params[:shot_ids].each do |shot_id| %>
    <%= f.hidden_field :shot_ids, multiple: true, value: shot_id %>
  <% end %>

</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>