<h2><%= current_user ? current_user.blog_name : "ShotBlog" %></h2> 

<% if current_user %>
	<div><%= link_to 'New Post', new_post_path %></div>
	<div><%= @show ? (link_to 'My Posts', posts_path) : (link_to 'All Posts', posts_path(show: 'all')) %></div>
<% end %>

<% @posts.each do |post| %>
	<div><%= link_to post.title, post %></div>
	<%#= image_tag post.image.thumb('100x100#').url if post.image_stored? %>
	<p><%= post.likes.length == 1 ? post.likes.length.to_s + ' like' : post.likes.length.to_s + ' likes' %></p>
	<div><%#= image_tag post.image.url if post.image? %></div>
	<p>---------------------------------------------</p>
<% end %>


