<%= form_for @post, :html => {:multipart => true} do |p| %>

  <div class="field">
    <%= p.label :title %><br>
    <%= p.text_field :title %>
  </div>
  <div class="field">
    <%= p.label :body %><br>
    <%= p.text_area :body %>
  </div>
  <div>
    <%= p.file_field :image %>
  </div>
  <div>
    image URL: <%= p.text_field :image_url %>
  </div>
  <div class="actions">
    <%= p.submit %>
  </div>
<% end %>