<!DOCTYPE html>
<html>
<head>
  <title>Shotblog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<%= render partial: 'layouts/navbar' %>
	</header>
	<% if flash[:error] %>
		<p><%= flash[:error] %></p>
	<% end %>

	<%= yield %>

	<% if current_user %>
		<%= render partial: "users/edit_user", locals: {user: current_user} %>
		<%= render partial: "posts/new_post", locals: {post: Post.new} %>
	<% else %>
		<%= render partial: "users/new_user", locals: {user: User.new} %>
	<% end %>
	<%#= current_user ? (render partial: "users/edit_user", locals: {user: current_user}) : (render partial: "users/new_user", locals: {user: User.new}) %>

	<div class=></div>

</body>
</html>
